@import url("https://fonts.googleapis.com/css2?family=Questrial&display=swap");
* {
  background-color: #fef6e4;
  font-family: "Questrial", sans-serif;
}
#regSection,
#homeSection {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#logo {
  max-width: 50%;
}
.formRegister,
.formLogin {
  gap: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form {
  background-color: #f3d2c1;
  padding: 5px 0 5px 0;
  border: 0;
  border-radius: 5px;
  text-align: center;
}
#inpDate {
  padding: 3px 15px 3px 15px;
  color: #777777;
}
.btnHomeRegister {
  background-color: #f582ae;
  color: #001858;
  font-weight: 600;
  border: 0;
  border-radius: 5px;
  padding: 8px 20px 8px 20px;
  cursor: pointer;
}
.btnRegister,
.btnLogin {
  background-color: #f582ae;
  color: #001858;
  font-weight: 600;
  border: 0;
  border-radius: 5px;
  padding: 8px 20px 8px 20px;
  margin-top: 15px;
  cursor: pointer;
}
.division {
  display: flex;
  gap: 10px;
  align-items: baseline;
}
.line,
.line2 {
  height: 1px;
  background-color: #001858;
  width: 50px;

  margin-top: 20px;
}
.or {
  color: #001858;
}

.btnRegister:hover,
.btnLogin:hover,
.btnHomeRegister:hover {
  background-color: #d95e8d;
  color: #fef6e4;
}
.btnGoogle {
  width: 150px;
  padding: 10px 15px 10px 15px;
}

/* Style Feed */
/* 
#feedNav {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  
  
}



.imgUser {
  max-width: 40%;
  justify-self: right;
  border-radius: 50%;
  
} */
/* 
.userMenu{
  background-color: #f3d2c1;
} */

.feedNav {
  position: absolute;
  top: 10px;
  bottom: 0;
  height: 9%;
  left: 0;
  width: 60px;
  overflow: hidden;
  transition: width 0.2s linear;
}

.feedNav:hover {
  width: 170px;
  height: 100px;
  transition: all 0.5s ease;
  background-color: #f3d2c1;
}

.ulMenu {
  margin: 5px 0 0 5px;
  padding: 0;

  /* box-sizing: border-box; */
}

.imgUser {
  text-align: center;
  display: flex;
  transition: all 0.5s ease;
  width: 45px;
  height: 45px;
  border-radius: 50%;
}
.userName {
  color: #001858;
  position: relative;
  background-color: #f3d2c1;
}

li {
  position: relative;
  /*display: table;*/
  width: 300px;
  display: flex;
  gap: 10px;
}
li:hover {
  background-color: #f3d2c1;
}

.btnLogout {
  background-color: #f582ae;
  color: #001858;
  font-weight: bold;
  border-radius: 5px;
  padding: 5px;
  align-self: center;
}

.btnLogout:hover {
  background-color: #d95e8d;
  color: #fef6e4;
}

.feedSection {
  /* display: grid;
  grid-template-columns: repeat(3, 1fr); */
  display: flex;
  flex-direction: column;
}
.logoFeed {
  max-width: 20%;
  align-self: center;
}
.divPost {
  background-color: #f3d2c1;
  display: flex;
  height: 40px;
  line-height: 0%;
  gap: 10px;
}
.txtPost {
  background-color: #f3d2c1;
  color: #001858;
}
.imgPost {
  height: 90%;
  background-color: #f3d2c1;
}
/* --------- post.js STYLE --------- */

.postSection {
  display: grid;
  justify-items: center;
}
.logoPost {
  max-width: 20%;
}
.articlePost{
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  grid-template-columns: repeat(3, 1fr);
  grid-template-columns: repeat(4, 1fr) ;
  width: 70%;
 height: 250px;
  background-color: #f3d2c1;
  border-radius: 8px;
  align-self: center;
}
.inpPost{
  width: 70%;
  height: 40%;
  align-self: center;
  display: flex;
  background-color: transparent;
  grid-column-start: 1;
  grid-column-end: 4;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 5;
  margin: 10px 10px 10px 30px;
  border: 0;
  color: #001858;

}

.inpPost::placeholder {
  color: #001858;

}  

.btnCancelPost{
  background-color: #f582ae;
  color: #001858;
  font-weight: bold;
  border-radius: 5px;
  padding: 10px;
  border: none;
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 5;
  grid-row-end: 6;
  display: flex;
  margin: 6px 5px 6px 5px;

}
.btnCreatePost{
  background-color: #f582ae;
  color: #001858;
  font-weight: bold;
  border-radius: 5px;
  padding: 10px;
  border: none;
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 5;
  grid-row-end: 6;
  display: flex;
  margin: 6px 5px 6px 5px;
  justify-content: center;
}
.userImg {
  text-align: center;
  display: flex;
  transition: all 0.5s ease;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  justify-self: end;
  margin-right: 10px;
  margin-top: 10px;
}
.nameUser {
  color: #001858;
  background-color: transparent; 
}